@model ConfirmMailVM

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control m-3" asp-for="Email" value="@TempData["Mail"]" />
        <label asp-for="ConfirmCode">Mail Adresiniz Gelen 6 Haneli Kodunuzu Giriniz</label>
        <input type="text" class="form-control m-3" asp-for="ConfirmCode" />
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
    </form>
</div>